{%extends 'layouts/base.html'%}
{%block content%}

<div class="row">
    <div class="col-md-8 col-8 col-sm-8 col-xs-8 mx-auto mx-md-auto mx-sm-auto">
       
 
        <div class="form-group">
            <label for="amount">Amount in USD</label>
            <input id="amount" class="form-control" value="1" type="number" placeholder="Enter Amount in Usd">
        </div>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>

    function save_response(details){
    // Show a success message to the buyer
    alert('Transaction completed by ' + details.payer.name.given_name + '!');
    console.log(details)

    }
// Render the PayPal button into #paypal-button-container
paypal.Buttons({

    // Set up the transaction
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: document.getElementById("amount").value
                }
            }]
        });
    },

    // Finalize the transaction
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
            save_response(details);
        });
    }


}).render('#paypal-button-container');
</script>
     
    </div>                        
</div>

{%endblock content%}

